<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>


<p><%= @item.name %></p>
<p><%= @item.category %></p>
<p><%= @item.charge %></p>

<%= link_to('edit', items_edit_path) %>
<%= link_to "Delete #{@item.name}",
            item_path(@item),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
